.card-body h5{
    font-size: 20px;
}
.description{
    font-size: 12px;
}
.rating-container {
    width: 95%;
    position: absolute;
    bottom: 5px;
    text-align: center;
}
.card {
    width: 300px;
    height: 400px;
    margin-bottom: 25px;
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card:hover {
    transform: scale(1.1,1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.95;
}
